* {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('img/background.jpg') no-repeat;
	background-size: cover;
	background-position: center;
  }

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99; 
  }

.header__logo {
	height: 40px;
  }

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
}  

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
  }

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
  }

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
  }

.navigation .add_cat {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
  }

  .navigation .add_cat:hover {
	background-color: #fff;
	color: #162938;
  }

  .update_cat {
	width: 138px;
	height: 58px;
	box-sizing: border-box;
	background: none;
	border: none;
	cursor: pointer;
  }

  .update_cat img {
	width: 138px;
	height: 58px;
  }

  .update_cat:hover {
	transform: scale(1.2);
  }

.card {
	padding: 20px;
	text-align: center;
	background: url(img/cat.jpg) no-repeat center / contain;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.card_text {
	color: #000000;
	font-weight: bold;
	font-size: 1.8vw;
}

.content_btn {
	background: none;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.2vw;
	color: #000000;
}

.content_btn:hover {
	background-color: #ffffff;
	color: #000000;
  }



/* 

*/
.btn {
	min-width: 30px;
	height: 30px;
	box-shadow: 0 0 2px 0 #0002;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444;
	color: #fff;
	z-index: 80;
}
.btn:hover {
	color: #000;
	background-color: #aaa;
}

.content {
	padding: 20px;
	padding-top: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	min-height: calc(100vh - 180px);
	align-content: flex-start;
}

.card>* {
	position: relative;
	z-index: 2;
}

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff8;
	backdrop-filter: blur(2px);
	transition: .5s linear;
	transition-property: backdrop-filter, background-color;
}

.card:hover::before {
	backdrop-filter: blur(0);
	background-color: #fff4;
}

.like::after {
	content: "\2665";
	font-size: 2rem;
	line-height: 1;
	position: absolute;
	z-index: 3;
	color: #f00;
	top: 10px;
	right: 10px;
}

.popup-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: #0006;
	z-index: 10;
	display: none;
}

.popup-wrapper2 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: #0006;
	z-index: 10;
	display: none;
}

.active {
	display: flex;
	position: absolute;
	z-index: 50;
}

.activ {
	display: flex;
	position: absolute;
	z-index: 50;
}

.popup {
	width: calc(100% - 20px);
	max-height: calc(100% - 20px);
	overflow-y: auto;
	box-sizing: border-box;
	max-width: 600px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 2px 0 #0004;
	position: relative;
	display: none;
}

.popup.active {
	display: block;
}

.popup-close-btn1 {
	width: max-content;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.popup-close-btn2 {
	width: max-content;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.popup h2 {
	margin: 0 0 20px;
	text-align: center;
}

.popup-wrapper-cat-card {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: #0006;
	z-index: 10;
	display: flex;
}
.popup-wrapper-cat-card.active {
	display: flex;
}
.popup-cat-card {
	width: calc(100% - 20px);
	max-height: calc(100% - 20px);
	overflow-y: auto;
	box-sizing: border-box;
	max-width: 600px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 2px 0 #0004;
	position: relative;
}
.popup-cat-card.active {
	display: block;
}
.popup-close-cat-card {
	width: max-content;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.popup h2 {
	margin: 0 0 20px;
	text-align: center;
}
form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
@media (min-width: 768px) {
	.popup {
		padding: 30px;
	}
	form {
		grid-template-columns: repeat(3, 1fr);
	}
}
.form-img {
	grid-row-end: span 3;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 #0004;
	background: url("img/cat.jpg") no-repeat center / cover;
}
input, textarea {
	outline: none;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #0002;
	height: 30px;
	border-radius: 4px;
	padding: 4px 8px;
}
input:focus, textarea:focus {
	box-shadow: 0 0 2px 0 #0004;
}
input[type="checkbox"] {
	width: initial;
	height: initial;
	box-sizing: initial;
}
label {
	display: flex;
	align-items: center;
	gap: 8px;
}
textarea {
	height: 100%;
	grid-row-end: span 2;
	resize: vertical;
}
form button {
	border: none;
	border-radius: 4px;
	background-color: #0002;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	justify-self: flex-end;
	align-self: flex-end;
}
form button:active {
	background-color: #0006;
	color: #fff;
	box-shadow: 0 0 2px 0 #0004;
}


.footer {
  width: 100%;
  height: 70px;
  background-color: none;
  position: sticky;
  margin-top: 60px;
	
}

.footer__copyright {
	font-weight: 600;
	text-align: center;
	opacity: 0.5;
	color: #fff;
	padding-top: 90;
	padding-bottom: 90;
	padding-right: 20px;
	padding-left: 20px;
}
